html,body,h1,h2,h3,h4,p,ul,li,a,img,input,textarea,button{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   outline: none;
   box-sizing: border-box;
   vertical-align: middle;
}

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;

  background-image: url(../img/texture/fundo.png);
}