// ESTILOS PARA DESKTOP

$cor--primaria: linear-gradient(-145deg,#FF7502, #FF9C1C);
$cor--secundaria:linear-gradient(145deg,#FF7502, #ff9d1ca8);
$cor--terciaria: #464646;

$cor--1: #f8f8f8;
$cor--2: #ccc;
$cor--3: #ffffff;
$cor--4: #000000;
$cor--5: #444444;
$cor--6: #2b2b2b;
$cor--7: #FF7502;

$fonte--tamanho1: 5.0rem;
$fonte--tamanho2: 3.0rem;
$fonte--tamanho3: 2.0rem;
$fonte--tamanho4: 1.5rem;
$fonte--tamanho5: 1.1rem;

// ESTILOS PARA MOBILE

$fonte-mobile-tamanho1: 3.0rem;
$fonte-mobile-tamanho2: 2.0rem;
$fonte-mobile-tamanho3: 1.8rem;
$fonte-mobile-tamanho4: 1.3rem;
$fonte-mobile-tamanho5: 0.9rem;
